body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 900px;
  height: 800px;
  padding-left: 65px;
}

/*Team Names*/

.team-names,
.team-value {
  font-size: 2px;
  font-weight: 700;
}

.team-names {
  animation: scale 0.5s ease forwards;
  opacity: 0;
}

/*Team Value*/
.team-value {
  animation: scale 0.5s ease forwards;
  opacity: 0;
  animation-delay: 0.7s;
}

@keyframes scale {
  from {
    opacity: 0;
  }
  to {
    font-size: 12px;
    opacity: 1;
  }
}

/*Team Node*/
.team-node {
  animation: team-node 0.6s forwards;
  transition: all ease-in;
  opacity: 0;
  animation-delay: 0.4s;
}

@keyframes team-node {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 35px;
    opacity: 1;
  }
}

/*Status Node*/
.status-node {
  animation: status-node 0.6s forwards;
  transition: all ease-in;
  opacity: 0;
  animation-delay: 2s;
}

@keyframes status-node {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Benchmark */

.benchmark p,
.status-names,
.status-value,
.benchmark-values {
  opacity: 0;
  animation: opacity 1s ease forwards;
  animation-delay: 2.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.benchmark,
.title {
  color: #648c8c;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding-top: 15px;
}

.title {
  text-align: left;
  padding-left: 15px;
  padding-bottom: 25px;
}

.benchmark-values {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.status-value {
  font-size: 20px;
  font-weight: 900;
  color: #333;
  padding-top: 4px;
  dy: 20em !important;
}

.status-names {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.wrapper {
  position: relative;
}

.wrapper:before {
  animation: background-color 1.7s ease-in-out forwards;
  animation-delay: 0.8s;
  content: '';
  position: absolute;
  background: #fff;
  width: 82%;
  height: 100%;
  right: 30px;
  top: 0;
}

@keyframes background-color {
  to {
    width: 0;
  }
}
