@keyframes fade-out {
  0% {
    transform: scale(0) translate(0, 0);
  }
  1% {
    transform: scale(0) translate(50%, 50%);
  }
  100% {
    transform: scale(1) translate(100%, 100%);
  }
}

.team-names {
  animation: fade-out 3s 1;
}

@keyframes team-node {
  0% {
    opacity: 0;
    width: 0;
  }
  1% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 35;
  }
}

.team-node {
  animation: team-node 3s 1;
  animation-delay: 3s;
}

.data-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 6s;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
